body {
    background-color: cadetblue;
}

hr {
    border-style: dashed;
    border-color: whitesmoke;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
   
p{
    font-family: cursive;
}

ul{
    font-family: cursive;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table{
    font-family: cursive;
}

